* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eef2f3;
}
h1 {
  text-align: center;
  margin-bottom: 10px;
}
p {
  text-align: left;
}
.navbar-toggler {
  display: block!important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
.navbar-toggler {
  border-color: white!important;
}
.extra {
  margin-top: 20px;
}
.content {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
}
.container-form {
  width: 320px;
  margin: 15% auto;
}
.container-release {
  text-align: center;
}
.with-top-padding {
  padding-top: 40px;
}
.menu-wrap {
    background-color: #ffac00;
    position: fixed;
    top: 0;
    height: 100%;
    width: 280px;
    margin-left: -280px;
    font-size: 1em;
    font-weight: 700;
    overflow: auto;
    transition: .25s;
    z-index: 10;
}
.menu-show {
    margin-left: 0;
    box-shadow: 4px 2px 15px 1px #B9ADAD;
}
.menu li {
  margin: 10px 10px;
}
.menu-logout {
    position: absolute;
    bottom: 40px;
}
.close-mask {
  position: fixed;
    height: 100%;
    width: 100%;
}
.ui.pointing.menu {
  background-color: #ffac00;
}
.ui.menu.item{
  color: white;
}
.contributors {
  width: 300px;
  float: right;
}
.description {
    width: 50%;
    margin: 0 auto;
}
.tracks {
  text-align: center;
}
.tracks-item {
  width: 600px;
  height: 64px;
  margin-bottom: 40px;
  margin-top: 40px;
  display: inline-block;
}
.tracks-contributors {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
  height: 10px;
}
.tracks-item-description {
  width: 300px;
  height: 100%;
}
.tracks-contributors p {
  display: inline-block;
  margin-left: 5px;
}
.release-author {
  display: block;
}
#addContributorButton {
  color: white;
}
.project {
  margin-right: 40px;
  margin-top: 40px;
}
.project:nth-child(5n) {
  margin-right: 0;
}
.image img {
  width: 100%;
  height: 100%;
}
.profile-image {
  margin: 0 auto;
  display: block;
}
.profile-username {
  text-align: center;
  font-size: 28px;
}
.hamburger {
  width: 30px;
  height: 30px;
  fill: #000;
  background-image: url("hamburger.svg");
}
.form-add-project {
  margin-top: 20px;
}
.form-add-project:nth-child(2n) {
  margin-bottom: 20px;
}
.form-add-project-info {
  float: left;
  width: 50%;
}
.form-add-project-info input[type="submit"] {
  display: block;
  margin-top: 20px;
}
.tag {
  display: inline-block;
  margin-left: 10px;
}
audio {
  border-radius: 0px;
  height: 30px;
  background-color: #f1f1f1;
}
