include ../layout/head
html 
	body
		block content
			h1 Add project
			form(method='post', action='/create_submit/' enctype="multipart/form-data")
				input(type='text', name='title' placeholder='title')
				input(type='text', name='tags' placeholder='tags')
				input(type='file' name='cover')
				
				div.contributors
					a.btn.btn-secondary.btn-sm(id="addContributorButton" onclick="addContributor()") Add contributor
					
						
				input(type='submit', value='yes')
	script(src="post-create.js")
