include ../layout/layout.jade 

block content
-var data = JSON.parse(JSON.stringify(posts))

div.container
	div.row
		each post in data
			div.col-sm-2.project
				div.panel.panel-default
					div.panel-body.image 
						img(src="../../upload/#{post.cover}" )
						div.panel-footer
							a(href='/post/#{post._id}').header= post.title
							div
								a(href='/user/profile/#{post.authorname}')= post.authorname
