include ../layout/layout.jade 

div.container
  ul
    each user in results
      div.col-sm-2.project
        div.panel.panel-default
          div.panel-body.image 
            img(src="../../upload/#{user.avatar}" )
          div.panel-footer
            a(href="/user/profile/#{user.username}")= user.username
