include ../layout/head.jade 
		block content
		div.container-form
			h2 Login Form
			form(method='post', action='/user/signup_submit/')
				div.row
					div.col-md-12.form-group
						input.form-control(name="username" type="text" placeholder="Nickname")
				div.row
					div.col-md-12.form-group
						input.form-control(name="email" type="text" placeholder="Email")
				div.row
					div.col-md-12.form-group
						input.form-control(name="password" type="password" placeholder="Enter your Password")
				div.row
					div.col-md-12.form-group
						input.form-control(name="passwordConf" type="password" placeholder="Confirm your password")
				div.row
					div.col-md-12.form-group
						input.btn.btn-primary(type="submit")
				
